<h1>Edit Link</h1>
  <form action=<%= link_url(@link) %> method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token %>

  <label for="link_title">Title</label>
  <input type="text"
         name="link[title]"
         id="link_title"
         value=<%= @link.title %>>

  <label for="link_url">URL</label>
  <input type="text"
         name="link[url]"
         id="link_url"
         value=<%= @link.url %>>

  <input type="submit" value="Update Link">
</form>
